@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<br>
<br>
<div class="text-center">
   <img src="~/fotos/logo loja.png">
</div>
<br>
<br>
<br>
<div class="text-center">
     <img src="~/fotos/opçãs.png">
</div>
