@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos!</h1>
    <p>Site desenvolvido pela Grazielly, mas a Maria quem editou as coisinhas :)</p>
</div>
